# dependencies
node_modules/

# dotenv environment variables
.env
.env.*

# production build output
dist/
build/

# misc
.DS_Store
*.log

# Vite cache
.vite/

# local IDE settings
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
